*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.miniHeader > div {
    background: #cdcdcd;
    display: flex;
    justify-content: flex-end;
    gap: 19px;
    align-items: center;
    padding: 9px 38px;
}
.miniHeader{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background: #cdcdcd;
}
.getInTouch{
    padding: 4px 18px;
    display: flex;
    background: yellow;
    border-radius: 18px;
    box-shadow: 0px 0px 4px gray;

    &:active{
        box-shadow: inset 0px 0px 4px gray;
    }
}
.getInTouch p{
    margin: 0;
    font-size: 10px;
}
li.nav-item {
    text-align: center;
}
.dropdown-item{
    text-align: center !important;
}

.clients-section {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
}

.clients-section h2 {
    font-size: 32px;
    margin-bottom: 11px;
}
.icon{

}
p{
    margin: 0;
}
.caseStudiesBtns > div{
    /* border: 1px solid; */
    padding: 6px 16px;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 11px;
    box-shadow: 0px 0px 4px gray;
}
.footerOne {
    display: flex;
    padding: 15px 30px;
    background: #2e2c36;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.footerSecTwo ul li a {
    color: white;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.footerSecTwo ul li{
    list-style: none;
}

.footerTwo {
    text-align: center;
    background: gray;
    padding: 2px;
    color: white;
    font-weight: 600;
    font-size: 11px;
}

.card_item{
    width: 269.9px;
    background: white;
    display: flex;
    padding: 17px;
    /* height: 500px; */
    border-radius: 10px;
}
.caseStudiesBtns {
    display: flex !important;
    flex-direction: row !important;
    gap: 13px;
    justify-content: space-between !important;
    margin-top: 26px;
}

.viewCaseStudyBtn{
    background: #4b3190;
}

.whatsappBtn{
    background: #25d366;
}
.whatsappBtn > p{
    color: white !important;
}
.caseStudiesCards{
    display: flex !important;
    flex-direction: row !important;
    margin-top: 4%;
    gap: 44px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.exploerBtn {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 3%;
}
.exploerBtn p{
    margin: 0;
}

.exploerBtn div {
    background: yellow;
    padding: 10px 22px;
    font-weight: 600;
    border-radius: 8px;
}

.ourServices{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.servicesCard {
    display: flex;
    flex-direction: column;
    height: 330px;
    /* box-shadow: 0px 0px 4px gray; */
    width: 330px;
    padding: 11px;
    border-radius: 8px;
    margin-bottom: 22px;
    flex-wrap: wrap;
    background: #e9e9e9;
    align-items: center;
    justify-content: space-between;
}

.servicesCardSection{
    display: flex;
    gap: 2%;
    padding: 20px;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesBtn div{
    border: 2px solid #b6b3b3;
    width: fit-content;
    padding: 6px 14px;
    border-radius: 23px;
    font-weight: 600;
    margin-top: 15px;
    color: #4b4949;
    box-shadow: 0px 0px 3px gray;
}

.servicesBtn div:active{
    box-shadow: inset 0px 0px 3px gray;
}

.servicesBtn {
    display: flex;
    justify-content: center;
}

.servicesLogo {
    border: 1.5px solid;
    width: fit-content;
    padding: 14px;
    margin-top: 55px;
    border-radius: 6px;
    /* box-shadow: 0px 0px 4px gray; */
}

.whyChooseUs {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.whyChooseUsCards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.whyChooseUsHeading p {
    font-size: 32px;
    font-weight: 600;
}
.whyChooseUsHeading{
    margin: 27px 0px 17px 0px;
}

.whyChooseUsContent {
    padding: 0px 26px;
}

.whyChooseUsCards > div {
    /* border: 1px solid; */
    width: 191px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 14px;
    align-items: center;
    padding: 20px;
    background: white;
    margin-top: 31px;
}


.whyChooseUsContent p, .whyChooseUsHeading p{
    margin: 0;
}

@keyframes scroll {
    0%{
        transform: translate(calc(-250px*21));
    }
    100%{
        transform: translate(0);
    }
}

.slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide_track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 9);
}

.slider .clide{
    height: 100px;
    width: 250px;
}

/* 2nd crasual  */
@keyframes scroll2 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(calc(-250px*20));
    }
}

.slider2{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider2 .slide_track2{
    animation: scroll2 40s linear infinite;
    display: flex;
    width: calc(250px * 41);
}

.slider2 .slide2{
    height: 100px;
    width: 250px;
}

.caseStudies{
    background: #eaeaea;
}
.caseStudies div > p{
    color: #333333;
}
.caseStudies div{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 50px 20px; */
}